/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 20px;
  color: #333;
}

h1 {
  text-align: center;
  color: #000000;
  font-size: 28px;
  margin-bottom: 20px;
}

/* Contenedor para los dientes */
#dientes-superiores, #dientes-inferiores {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* Estilos para las piezas dentales (más cortas) */
.diente {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 15px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.diente:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Lados de la pieza dental */
.lado {
  position: absolute;
  background-color: white;
  border: 1px solid #000000;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Lado superior */
.lado-arriba {
  top: 0;
  left: 0;
  right: 0;
  height: 25%;
  clip-path: ellipse(50% 100% at 50% 0%); /* Curvatura en el lado superior */
  border-radius: 50%;
}
/* Lado inferior */
.lado-abajo {
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  clip-path: ellipse(50% 100% at 50% 100%); /* Curvatura más pronunciada en el lado inferior */
  border-radius: 50%;
}

/* Lado izquierdo */
.lado-izquierda {
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  clip-path: ellipse(80% 50% at 0% 50%); /* Curvatura más pronunciada en el lado izquierdo */
  border-radius: 50%;
}

/* Lado derecho */
.lado-derecha {
  top: 0;
  bottom: 0;
  right: 0;
  width: 25%;
  clip-path: ellipse(80% 50% at 100% 50%); /* Curvatura más pronunciada en el lado derecho */
  border-radius: 50%;
}

/* El centro de la pieza dental */
.centro {
  position: absolute;
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  width: 40%; /* Disminuye el tamaño del centro */
  height: 40%; /* Disminuye la altura del centro */
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: translate(-50%, -50%); /* Asegura que el centro esté perfectamente centrado */
}

.centro.seleccionado, .lado.seleccionado {
  background-color: #83160e;
  color: white;
}

/* Estado bloqueado de los elementos */
.lado.bloqueado, .centro.bloqueado {
  background-color: #d1d1d1;
  color: #888;
  pointer-events: none; /* Deshabilita la interactividad */
}

/* Botón */
button {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 30px auto;
  padding: 12px 0;
  background-color: #3a679b;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e40707;
}
/* Logo */
.logo {
  display: block;
  margin: 20px auto; 
  margin-top: 80px; 
  max-width: 120px;   
  width: 180px;
  height: auto; 
  
}
